@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif
}

body{
  width: 100%;
  background: rgb(48, 46, 46);
  color: white;
  
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

::selection{
  background: #7f71ff;
  color: black;
}



main{
  width: 100%;
  min-height: calc(100vh - 250px);
}
header{
  width: 100%;
  background: #fff;
}

nav{
  width: 95%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  user-select: none;
}

nav .logo{
  color: brown;
  font-weight: bolder;
  font-size: 1.8rem;
  text-transform: uppercase;
}

nav .menu-lists{
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .menu-lists li {
  padding: 3px 12px;
  color: blue;
  cursor: pointer;
  margin: 3px;
  font-weight: semi-bold;
  letter-spacing: 0.5px;

}

nav .menu-lists li:is(:hover, .active){
color: black;
transition: all ease 0.3s

}

nav :is(.fa-bars, .fa-xmark){
  color: #fff;
  display: none;
}


.sites-container{
  width: 95%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  color: white;
}

.sites-box{
  width: 100%;
  padding: 10px 0;
  overflow: hidden;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.05);
}

.sites-img{
  width: 100%;
  height: 185px;
  overflow: hidden;
  position: relative;
}
.sites-img img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  
}

.sites-img:hover img{
  transition: all 1s linear;
  filter: invert()
}


.sites-text .category-time .category{
  color: black;
  font-weight: 600;
}

.sites-text h3{
  font-size: 1.1rem;
  text-transform: capitalize;
  color: #fff;
  font-weight: 500;
  margin: 5px 0;
  line-height: 25px;
  transition: all 3s linear;
}

.sites-text h3:hover{
  color: #0101b7;

}

.sites-text .category-time{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-top: 5px;
  font-weight: 500;

}

.sites-text .category-time .published-time{
  color: #888;
}

.sites-text .excerpt{
  color: #888;
}

.search{
  width: 95%;
  margin: 20px auto;
  height: 50px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

}

.search input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  padding: 0 20px;
  font-size: 0.95rem;

}

.search button{
  border: none;
  outline: none;
  background: Green;
  width: 10%;
  height: inherit;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.site-container{
  width: 95%;
  margin: 0 auto;
}

.site-container article .site{
  text-align: center;
  font-size: 2rem;
  text-transform: capitalize;
  color: #182848
}

.site-container article .published-time{
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #838eab
}

.site-container article .published-time i{
  margin-right: 7px;
}

.site-container article .content {
  margin-bottom:  20px;
}

.site-container article .content :is(img, video){
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 10px 0;
}

.site-container article .content p {
  line-height: 1.8rem;
  margin: 10px 0;
}

.site-container article :is(h1, h2,h3, h4, h5, h6, p){
  margin: 10px 0;
  line-height: 1.8rem;
}
.center{
  width: 600px;
  height: 300px;

  position: relative;
}

.center img{
  width: inherit;
  height: inherit;
  position: absolute;
  left: 55%;
}
.comments{
  margin-top: 50px;
  margin-bottom: 10px;
  width: 100%;
}

.comments h2{
  color: #4b6cb7;
  padding: 5px 0
}
.comments form :is(input, textarea){
  width: 100%;
  border: none;
  outline: none;
  background: #fff;
  padding: 10px 20px;
  font-size: 0.95rem;
  margin: 10px 0;
  resize: none;
}

.comments form input{
  height: 50px;
}

.comments form .check{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.comments form .check input[type="checkbox"]{
  width: 25px;
  height: 25px
}

.comments form button{
  display: block;
  border: none;
  outline: none;
  background: #4b6cb7;
  padding: 10px 30px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;

}

.comments .content{
  margin-top: 20px;
  background: #4b6cb7;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
}

.comments .content i{
  margin-right: 5px;
}

.comments .content p{
  color: #ddd;
  font-size:  0.9rem;
  margin-top: 3px;
}
.pagination{
  width: 95%;
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}
.pagination .prev-next{
  text-transform: capitalize;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  transition: all 3s linear;
}

.pagination .prev-next i{
  font-size: 0.85rem;
}

.pagination .numbers{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.paginations .numbers li{
  color: #182848;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s linear;
}

.pagination .numbers li:is(:hover, .active){
  background:#182848;
  color: #fff;
}

footer{
  background: #fff;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  margin-top: 10px;
}

footer span{
  color: #131313;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 10px;
}

footer .author{
  color: red
}

.footer-socials{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin: 10px;
}

.footers-socials a{
  width: 35px;
  height: 35px;
  color: #454545;
  border: 1.5px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-socials a:hover{
  color: crimson;
  border-color: crimson;
  transition: all 0.3s ease;
}

